<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sign }} Daily Horoscope Message@Rancilili</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
</head>
<body style="background-image: url('{{ url_for('static', filename=horoscope_data['image_path']) }}');">
    <div class="content">
        <div class="reference">{{ reference }}</div>
        <div class="verse-container">
            <div class="verse">{{ verse }}</div>
            <button class="audio-button"></button>
        </div>
    </div>
    <div class="social-media-links">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <a href="https://www.facebook.com/profile.php?id=61560670367223" target="_blank" class="social-link"><img src="{{ url_for('static', filename='fb.ico') }}" alt="Facebook"></a>
        <a href="https://x.com/Rancilili" target="_blank" class="social-link"><img src="{{ url_for('static', filename='twitter.ico') }}" alt="Twitter"></a>
        <a href="https://www.instagram.com/rancilili_official/" target="_blank" class="social-link"><img src="{{ url_for('static', filename='ins.ico') }}" alt="Instagram"></a>
        <a href="mailto:echocraftllc@email.com" class="social-link"><img src="{{ url_for('static', filename='email.ico') }}" alt="Email"></a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>